#ethereditor-userlist-contain, #ethereditor-padlist-contain {
    background-color: #eeeeee;
    position: relative;
    padding-right: 5px;
}

img.listicon {
    height: 15px;
    width: 15px;
}

#ethereditor-usercount, #ethereditor-padcount, img.listicon {
    cursor: pointer;
    padding: 4px;
}

#ethereditor-userlist, #ethereditor-padlist {
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}

#ethereditor-userlist {
    padding-bottom: 5px;
    width: 300px;
}

#ethereditor-padlist {
    width: 600px;
}

.isnotadmin .userctrls {
    display: none;
}

.hidden {
    display: none;
}

#ethereditor-userlist div {
    padding-top: 5px;
    clear: both;
}

.ethereditor-usercolor, .ethereditor-username {
    float: left;
}

.ethereditor-username {
    width: 150px;
    overflow: hidden;
}

.ethereditor-usercolor {
    height: 20px;
    width: 20px;
    margin: 0px 5px;
}

.padminctrls {
    float: right;
}

div[data-padid] {
    clear: both;
    padding: 5px;
    padding-bottom: 10px;
    cursor: pointer;
}

div[data-padid]:hover {
    box-shadow: inset 0 0 5px 0 grey;
}
